<%# provide is a rails function. We are associating the string Home with the label :title %>
<% provide(:title, 'Home') %> 

<h1>Orbit Home Page</h1>
<p>This is the template <b>Home page</b> for our Orbit Feedback App</p>
