<% if object.errors.any? %>
    <div id='error_explanation'>
        <div class='alert alert-danger'>
            The form contains <%= pluralize(object.errors.count, 'error') %> <%# displays on the page how many errors there are if any %>
        </div>
        <ul>
            <% object.errors.full_messages.each do |msg| %> <%# displays the error messages on the page as a list %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>